        @charset "UTF-8";
		@font-face {
			font-family: 'Pokemon';
			src: url("assets/fonts/Pokemon\ Solid.ttf");
		}
		
		*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: Arial, Helvetica, sans-serif;
		}
		body{
			background: #2a2c2c;
		}
		.pokemon-boxes{
			background: #ffffff21;
			max-width: 900px;
			padding: .5rem 2%;
			margin: .5rem auto;
			border-radius: 1rem;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
		}
		main h1{
			color: #FECA1B;
			text-shadow: .5px 1px #3761A8;
			-webkit-text-stroke-color: #3761A8;
			-webkit-text-stroke-width: 1px;
			font-size: 2.5rem;
			width: 100%;
			text-align: center;
			font-family: Pokemon, sans-serif;
		}
		.aria-inputs{
			width: 100%;
			margin: .5rem auto 1rem auto;
			text-align: center;
		}
		#quantity{
			width: 15.85rem;
			height: 2rem;
			text-indent: .5rem;
			border-radius: .3rem;
			background: none;
			border: solid .5px #ffffff;
			color: #ccc;
		}
		#quantitySelection{
			padding: .4rem;
			margin-left: .15rem;
			background: none;
			border: solid .5px #37a840;
			border-radius: .3rem;
			color: #37a840;
			animation: none;
			cursor: pointer;
		}
		.pokemon-single{
			width: 16rem;
			height: 18rem;
			margin: .5rem;
			background: #00000030;			
			padding: 1rem;
			border-radius: .5rem;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
			cursor:  pointer;
			color: #fff;
			font-weight: 700;
			text-transform: capitalize;
		}
		.pokemon-single img{
			width: 13rem;
			height: 13rem;
			margin: .5rem;
		}
		.name{
			width: 100%;
			text-align: center;
			margin: -1rem auto auto auto;
		}
		@media screen and (max-width: 850px) {
			.pokemon-single{
				width: 100%;
			}
		}
		@keyframes animate {
			0%{
				transform: scale(1);
			}
			50%{
				transform: scale(1.03);
			}
			100%{
				transform: scale(1);
			}
		}